USE [master]
GO
/****** Object:  Database [GYMROOM]    Script Date: 13/09/2020 1:27:29 PM ******/
CREATE DATABASE [GYMROOM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GYMROOM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\GYMROOM.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'GYMROOM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\GYMROOM_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GYMROOM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GYMROOM]
GO
/****** Object:  Table [dbo].[GYMER]    Script Date: 13/09/2020 1:27:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GYMER](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[dateCreate] [datetime] NULL CONSTRAINT [DF_GYMER_dateCreate]  DEFAULT (getdate()),
	[dateModify] [datetime] NULL CONSTRAINT [DF_GYMER_dateModify]  DEFAULT (getdate()),
	[dateRegistraion] [datetime] NULL,
	[dateExpired] [datetime] NULL,
	[numMonth] [int] NULL,
	[adress] [nvarchar](250) NULL,
	[note] [nvarchar](250) NULL,
	[status] [bit] NULL CONSTRAINT [DF_GYMER_status]  DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  StoredProcedure [dbo].[deleteGymer]    Script Date: 13/09/2020 1:27:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[deleteGymer]
@id BIGINT
 
 AS
 BEGIN
	DELETE FROM dbo.GYMER WHERE id = @id
 END;
GO
/****** Object:  StoredProcedure [dbo].[extendGymer]    Script Date: 13/09/2020 1:27:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[extendGymer]
@id BIGINT,
@dateRegistraion DATETIME,
@dateExpired DATETIME,
@numMonth INT,
@modi DATETIME
 AS
 BEGIN
	UPDATE dbo.GYMER SET dateRegistraion = @dateRegistraion,dateExpired=@dateExpired, numMonth=@numMonth,dateModify =@modi
	WHERE id = @id
 END;
GO
/****** Object:  StoredProcedure [dbo].[findGymer]    Script Date: 13/09/2020 1:27:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[findGymer]
 @name NVARCHAR(50)
 
 AS
 BEGIN
	SELECT * FROM dbo.GYMER WHERE name LIKE '%'+@name+'%'
 END;
GO
/****** Object:  StoredProcedure [dbo].[updateGymer]    Script Date: 13/09/2020 1:27:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[updateGymer]
@id BIGINT,
@name NVARCHAR(50),
@dateModi datetime,
@adress NVARCHAR(250),
@note NVARCHAR(250)

 AS
 BEGIN
	UPDATE dbo.GYMER SET name=@name,dateModify=@dateModi,adress=@adress,note=@note
	WHERE id = @id
 END;
GO
USE [master]
GO
